* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.container {
  background-image: url("../src/ocbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
}
div.container header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  opacity: 0.85;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
}
div.container header h4 {
  font-size: 40px;
  color: rgb(247, 240, 195);
  background-color: rgba(143, 196, 243, 0.161);
}
div.container header h4.b {
  color: rgb(20, 61, 109);
}
div.container a.clickbox {
  border: black solid 2px;
  opacity: 0%;
  width: 90px;
  height: 90px;
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  transform: translate(290px, 5px);
}
div.container img.conch {
  width: 600px;
  height: 400px;
  pointer-events: none;
  -webkit-animation: 7s breathe infinite;
          animation: 7s breathe infinite;
}
div.container img.startline {
  width: 665px;
  height: 375px;
  position: absolute;
  z-index: -1;
  transform: translate(200px, 70px);
}

footer {
  font-family: "Noto Sans TC", sans-serif;
  width: 100%;
  height: 10vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 44, 104, 0.937);
  color: white;
}

.flashfooter {
  font-family: "Noto Sans TC", sans-serif;
  width: 100%;
  height: 10vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.movetoback {
  transform: translate(158px, 60px);
  transition: all 1s ease-in;
  width: 665px;
  height: 375px;
  position: absolute;
  z-index: -1;
}

.linego {
  transform: translate(362px, -20px);
  transition: all 0.3s ease-out;
  width: 665px;
  height: 375px;
  position: absolute;
  z-index: -1;
}

.cb88 {
  width: 0px;
  height: 0px;
}

div.flash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 11, 11);
  color: white;
}
div.flash div.sug {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  padding: 1rem;
}
div.flash .bbox {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
div.flash .bbox .btn {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-decoration: none;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  border: 1px white solid;
  text-align: center;
}
div.flash .bbox .btn .btn:hover {
  cursor: pointer;
}

.light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 100%;
  z-index: 2;
  -webkit-animation: 4s flash infinite;
          animation: 4s flash infinite;
}

@media only screen and (max-width: 720px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  div.img {
    width: 300px;
    height: 200px;
  }
  div.img img.conch {
    width: 300px;
    height: 200px;
    pointer-events: none;
    -webkit-animation: 7s breathe infinite;
            animation: 7s breathe infinite;
  }
  div.container header h4 {
    font-size: 32px;
  }
  div.container img.startline {
    width: 225px;
    height: 130px;
    position: absolute;
    z-index: -1;
    transform: translate(70px, 90px);
  }
  div.container img.movetoback {
    transform: translate(60px, 70px);
    transition: all 1s ease-in;
    width: 225px;
    height: 130px;
    position: absolute;
    z-index: -1;
  }
  div.container img.linego {
    transform: translate(36px, -2px);
    transition: all 0.3s ease-out;
    width: 110px;
    height: 65px;
    position: absolute;
    z-index: -1;
  }
  div.container a.clickbox {
    border: black solid 2px;
    opacity: 0%;
    width: 80px;
    height: 80px;
    cursor: -webkit-grab;
    cursor: grab;
    position: absolute;
    transform: translate(90px, 60px);
  }
  @-webkit-keyframes breathe {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.75);
    }
  }
  @keyframes breathe {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.75);
    }
  }
  @-webkit-keyframes bubble-movement {
    0% {
      transform: translate3d(-50%, 0, 0);
      height: 1px;
      width: 1px;
    }
    100% {
      transform: translate3d(-50%, -150px, 0);
      height: 10px;
      width: 10px;
    }
  }
  @keyframes bubble-movement {
    0% {
      transform: translate3d(-50%, 0, 0);
      height: 1px;
      width: 1px;
    }
    100% {
      transform: translate3d(-50%, -150px, 0);
      height: 10px;
      width: 10px;
    }
  }
}
@-webkit-keyframes breathe {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes breathe {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0.85);
  }
}
@-webkit-keyframes flash {
  0% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 2000px;
    height: 2000px;
  }
}
@keyframes flash {
  0% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 2000px;
    height: 2000px;
  }
}
div[class^=bubble-] {
  height: 1px;
  width: 1px;
  position: absolute;
  background-color: rgba(0, 141, 210, 0.3);
  border-radius: 50%;
  transform: translateX(-50%);
}
div[class^=bubble-]:after {
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  border-top: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.bubble-1 {
  bottom: 7px;
  left: 69%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.52s;
          animation: bubble-movement 4s infinite ease-in -1.52s;
}

.bubble-2 {
  bottom: 6px;
  left: 71%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.97s;
          animation: bubble-movement 4s infinite ease-in -0.97s;
}

.bubble-3 {
  bottom: 8px;
  left: 24%;
  -webkit-animation: bubble-movement 4s infinite ease-in -2.02s;
          animation: bubble-movement 4s infinite ease-in -2.02s;
}

.bubble-4 {
  bottom: 6px;
  left: 43%;
  -webkit-animation: bubble-movement 4s infinite ease-in -2.72s;
          animation: bubble-movement 4s infinite ease-in -2.72s;
}

.bubble-5 {
  bottom: 6px;
  left: 10%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.53s;
          animation: bubble-movement 4s infinite ease-in -0.53s;
}

.bubble-6 {
  bottom: 7px;
  left: 63%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.36s;
          animation: bubble-movement 4s infinite ease-in -0.36s;
}

.bubble-7 {
  bottom: 7px;
  left: 66%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.12s;
          animation: bubble-movement 4s infinite ease-in -0.12s;
}

.bubble-8 {
  bottom: 10px;
  left: 81%;
  -webkit-animation: bubble-movement 4s infinite ease-in -2.57s;
          animation: bubble-movement 4s infinite ease-in -2.57s;
}

.bubble-9 {
  bottom: 7px;
  left: 47%;
  -webkit-animation: bubble-movement 4s infinite ease-in -0.77s;
          animation: bubble-movement 4s infinite ease-in -0.77s;
}

.bubble-10 {
  bottom: 6px;
  left: 4%;
  -webkit-animation: bubble-movement 4s infinite ease-in -1.91s;
          animation: bubble-movement 4s infinite ease-in -1.91s;
}

@-webkit-keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -500px, 0);
    height: 75px;
    width: 75px;
  }
}

@keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -500px, 0);
    height: 75px;
    width: 75px;
  }
}/*# sourceMappingURL=style.css.map */